body {
    background-color: rgb(95, 181, 231);
}

.white {
    background-color: rgb(248, 181, 104);
    height: 80px;
    max-width: 80px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.black {
    background-color: rgb(97, 60, 18);
    height: 80px;
    max-width: 80px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.container {
    margin: 80px auto;
}

.white:hover {
    background-size: 80% 80%;
    cursor: pointer;
}

.black:hover {
    background-size: 80% 80%;
    cursor: pointer;
}

.selected {
    background-size: 80% 80% !important;
    background-color: rgb(129, 110, 3);
}

.white-rook {
    background-image: url("icons/white_rook.png");
    background-size: 65% 70%;
}

.white-rook:hover {
    background-size: 75% 80%;
}

.white-knight {
    background-image: url("icons/white_knight.png");
    background-size: 70% 70%;
}

.white-bishop {
    background-image: url("icons/white_bishop.png");
    background-size: 70% 70%;
}

.white-queen {
    background-image: url("icons/white_queen.png");
    background-size: 75% 70%;
}

.white-queen:hover {
    background-size: 85% 80%;
}

.white-king {
    background-image: url("icons/white_king.png");
    background-size: 70% 70%;
}

.white-pawn {
    background-image: url("icons/white_pawn.png");
    background-size: 70% 70%;
}

.black-rook {
    background-image: url("icons/black_rook.png");
    background-size: 65% 70%;
}

.black-rook:hover {
    background-size: 75% 80%;
}

.black-knight {
    background-image: url("icons/black_knight.png");
    background-size: 70% 70%;
}

.black-bishop {
    background-image: url("icons/black_bishop.png");
    background-size: 70% 70%;
}

.black-queen {
    background-image: url("icons/black_queen.png");
    background-size: 70% 70%;
}

.black-king {
    background-image: url("icons/black_king.png");
    background-size: 70% 70%;
}

.black-pawn {
    background-image: url("icons/black_pawn.png");
    background-size: 70% 70%;
}

.dot {
    border: 2px solid green;
    transform: rotate(45deg);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px 10px green;
}

.checked {
    border: 2px solid red;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px 10px red;
}