body {
    background: url("icons/backgroundgif.gif");
    background-size: cover;
}

.white {
    background-color: rgb(248, 181, 104);
    height: 60px;
    max-width: 60px;
    padding: 0;
    overflow: hidden;
}

.black {
    background-color: rgb(97, 60, 18);
    height: 60px;
    max-width: 60px;
    padding: 0;
    overflow: hidden;
}

.container {
    margin: 20px auto;
}

.active:hover {
    background-size: 80% 80%;
    cursor: pointer;
}

.selected {
    background-size: 80% 80% !important;
    background-color: rgb(129, 110, 3);
}

.white-rook {
    background-image: url("icons/white_rook.png");
    background-size: 60% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.white-knight {
    background-image: url("icons/white_knight.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.white-bishop {
    background-image: url("icons/white_bishop.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.white-queen {
    background-image: url("icons/white_queen.png");
    background-size: 75% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.white-king {
    background-image: url("icons/white_king.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.white-pawn {
    background-image: url("icons/white_pawn.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.black-rook {
    background-image: url("icons/black_rook.png");
    background-size: 60% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.black-knight {
    background-image: url("icons/black_knight.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.black-bishop {
    background-image: url("icons/black_bishop.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.black-queen {
    background-image: url("icons/black_queen.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.black-king {
    background-image: url("icons/black_king.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.black-pawn {
    background-image: url("icons/black_pawn.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.dot {
    border: 2px solid green;
    transform: rotate(45deg);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px 10px green;
}

.dot:hover {
    cursor: pointer;
}

.checked {
    border: 2px solid red;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px 10px red;
}

.white-remove {
    background-color: rgb(150, 119, 85);
    height: 40px;
}

.black-remove {
    background-color: rgb(150, 119, 85);
    height: 40px;
}

.moving-div {
    position: fixed;
}
