body {
    background: url("icons/backgroundgif.gif");
    background-size: cover;
}

.white {
    background-color: rgb(248, 181, 104);
    height: 60px;
    max-width: 60px;
    padding: 0;
    overflow: hidden;
}

.black {
    background-color: rgb(133, 71, 1);
    height: 60px;
    max-width: 60px;
    padding: 0;
    overflow: hidden;
}

.container {
    margin: 20px auto;
}

.active:hover {
    background-size: 80% 80%;
    cursor: pointer;
}

.selected {
    background-size: 80% 80% !important;
    background-color: rgb(129, 110, 3);
}

.wr {
    background-image: url("icons/white_rook.png");
    background-size: 65% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.wn {
    background-image: url("icons/white_knight.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.wb {
    background-image: url("icons/white_bishop.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.wq {
    background-image: url("icons/white_queen.png");
    background-size: 75% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.wk {
    background-image: url("icons/white_king.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.wp {
    background-image: url("icons/white_pawn.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.br {
    background-image: url("icons/black_rook.png");
    background-size: 60% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.bn {
    background-image: url("icons/black_knight.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.bb {
    background-image: url("icons/black_bishop.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.bq {
    background-image: url("icons/black_queen.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.bk {
    background-image: url("icons/black_king.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.bp {
    background-image: url("icons/black_pawn.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.dot {
    border: 2px solid green;
    transform: rotate(45deg);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px 10px green;
}

.dot:hover {
    cursor: pointer;
}

.checked {
    border: 1px solid red;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 10px 5px red;
}

.wremove {
    background-color: rgb(150, 119, 85);
    height: 40px;
}

.bremove {
    background-color: rgb(150, 119, 85);
    height: 40px;
}

.moving-div {
    position: fixed;
}

.pawn {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
}

.shifted {
    z-index: 1;
    transform: scale(0.95);
    box-shadow: 0 0 4px 3px rgb(3, 247, 133);
}